<!-- FILEPATH: /e:/services ng/localdemo/src/app/auth/signin/signin.component.html -->
<h2>Connexion</h2>
<form (submit)="signin()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" #mail="ngModel" name="email" [(ngModel)]="user.email" required>
    <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="text-danger">
      <div *ngIf="mail.errors?.['required']">Email is required.</div>
      <div *ngIf="mail.errors?.['email']">Invalid email format.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" #pass="ngModel" id="password" name="password" [(ngModel)]="user.password" required>
    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
      <div *ngIf="pass.errors?.['required']">Password is required.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Sign In</button>
</form>
<p class="mt-3">
  <a routerLink="/auth/signup">Create an account</a>
</p>
